body {
    background-color: #F0F0F0;

}

#updateBtn {
    display: none;
}

.wrapper {
    position: relative;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background-color: #fff;
    border-radius: 6px;

}

.sidebar .logo img {
    width: 100%;
    padding: 16px;
}

.sidebar li {
    list-style: none;
    padding: 16px;
    font-size: 20px;
    cursor: pointer;
}

.sidebar li:hover {
    background-color: #000;
    color: #fff;

}

.sidebar li i {
    margin-right: 16px;
}






.sidebar .active {
    background-color: #000;
    color: #FFF;

}





/* main-content */

.main-content {
    margin-right: 16px;
    margin-left: 316px;
    width: calc(100% - 316px);

}



/* tab-content */

.tab-content {
    display: none;
}

.active {
    display: block !important;
}

.tab-content .option {
    display: flex;

}

.product h2,
.tab-content h2 {
    background-color: #fff;
    padding: 16px;
    margin: 16px 0;
    border-radius: 6px;
}

.content {
    background-color: #fff;
    padding: 16px;
    border-radius: 6px;

}

.tab-content .option div {
    padding: 8px;
    background-color: #000;
    color: #fff;
    margin: 8px;
    border-radius: 6px;
    cursor: pointer;
}

.tab-content .option div:nth-of-type(1) {
    background-color: rgb(33, 150, 243);
}

.tab-content .option div:nth-of-type(2) {
    background-color: rgb(76, 175, 80);
}

.tab-content .option div:nth-of-type(3) {
    background-color: rgb(255, 152, 0);
}

.tab-content .option div:nth-of-type(4) {
    background-color: rgb(156, 39, 176);
}

.tab-content .option div:nth-of-type(5) {
    background-color: rgb(244, 67, 54);
}

.tab-content .option div:nth-of-type(6) {
    background-color: rgb(158, 158, 158);
}

.tab-content .option div:nth-of-type(7) {
    background-color: rgb(0, 188, 212);
}


.tab-content .option div:hover {
    opacity: 0.7;
}




.tab-content .option div:first-child {
    margin-left: 0;

}

table {
    margin-top: 24px;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 8px;
}

table i {
    cursor: pointer;

}

table i:hover {
    opacity: 0.7;
}


table i:first-child {
    color: rgb(255, 87, 34);
    padding: 16px;

}


table i:last-child {
    color: rgb(3, 169, 244);
    padding: 16px;

}



















#overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, .5);
    display: none;
}

.popup {}


.popup #form-title {
    margin: 16px 0;
}

.form-group {
    background-color: #fff;
    position: fixed;
    z-index: 1000;
    min-height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    padding: 16px;
    border-radius: 6px;
    display: none;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 28px;
    cursor: pointer;
}

form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    background-color: #28a745;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

form button:hover {
    background-color: #218838;
}