@media (max-width: 600px) {

    .options {
        grid-template-columns: repeat(5, 1fr) !important;
        font-size: 12px !important;
    }

    .products {
        grid-template-columns: repeat(2, 1fr) !important;
        gap: 4px !important;
        background-color: #F0F0F0 !important;
    }



    .product .info-image {
        width: 158px !important;
        height: 158px !important;
    }

}