.content {
    background-color: #F0F0F0;
    display: inline-block;
    width: 100%;
}


.banner {
    display: flex;
    gap: 6px;
    height: 320px;
    margin-top: 16px;
}

.slider {
    position: relative;
    width: 840px;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: all 0.8s ease-in-out;
    border-radius: 4px;

}

.slides .item {
    width: 100%;
    border-radius: 4px;

}

.slider__icons i {
    position: absolute;
    cursor: pointer;
    padding: 8px;
    font-size: 32px;
    top: 50%;
    transform: translateY(-50%);
}

.slider__icons i:first-child {
    left: 10px;
}


.slider__icons i:last-child {
    right: 10px;
}



.banner-image {
    display: flex;
    flex-direction: column;
    gap: 6px;

}

.banner-image img {
    border-radius: 4px;

}







.intro {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
    margin-top: 8px;
}

.intro img {
    width: 100%;
}




.options {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 0;
    text-align: center;
    padding: 15px 4px 8px;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 16px;
    font-size: 14px
}

.option img {
    width: 46px;
    height: 46px;
}

.option p {
    padding: 8px;
    opacity: 0.7;
}